<h3>
  Friend List
</h3>
<hr>
<% if @friends.any? %>
  <table class = "table table-responsive table-striped">
    <thead>
      <td>Name</td>
      <td>Email</td>
      <td>Profile</td>
      <td>Remove</td>
    </thead>
    <tbody>
      <% @friends.each do |f|  %>
        <tr>
          <td>
            <%= "#{f.first_name} #{f.last_name}" %>
          </td>
          <td>
            <%= f.email %>
          </td>
          <td>
            <%= link_to("Show Profile",user_path(f),:class => "btn btn-xs btn-info")%>
          </td>
          <td><%= link_to("Remove Friend",friendship_path(f),:class => "btn btn-xs btn-danger",
                          :method => :delete, :data => {:confirm => "Are you sure?"})%></td>
        </tr>
      <% end %>
      
    </tbody>
  </table>
<% else %>
<div class = "alert alert-danger" align = "center">You Don't Have any Friends</div>
<% end %>
